.page-title {
    padding: 50px 0;
    background-color: #a9824e;
    margin-bottom: 10px;
}

.breadcrumbs {
    margin: 10px 0;
}

.page-title h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #fff;
}


.breadcrumbs a {
    text-decoration: none;
}

.breadcrumbs .divider {
    margin: 0 5px;
    color: #a9824e;
}

.breadcrumbs .current {
    color: #a9824e;
    font-weight: 700;
}

.content{
    margin-bottom: 15px;
    width: 100%;
}

@media (max-width: 1024px) {
    .page-title h1 {
        font-size: 30px;
        font-weight: 700;
        color: #fff;
    }
}

@media (max-width: 749px) {
    .page-title h1 {
        font-size: 20px;
        font-weight: 700;
        color: #fff;
    }
}